dj-database-url>=0.5.0
Django>=3.0.2
django-cors-headers>=3.2.1
django-postgres-copy==2.3.1
python-decouple==3.1
django-heroku>=0.3.1
django-allauth>=0.41.0
future>=0.18.2
gunicorn>=20.0.4
idna>=2.8
pytz>=2019.3
six>=1.14.0
whitenoise>=5.0.1
django-reset-migrations==0.4.0